<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>TestRunnerAmericanas.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:br.com.frameworktestng.testrunner.TestRunnerAmericanas@5b7a5baa]<br/></td></tr>
</table>
