<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="668a6b">  <td>20/03/18 15:34:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunnerAmericanas.setUpClass()[pri:0, instance:br.com.frameworktestng.testrunner.TestRunnerAmericanas@5b7a5baa]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@275266973</td>   <td></td> </tr>
<tr bgcolor="668a6b">  <td>20/03/18 15:34:59</td>   <td>426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunnerAmericanas.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:br.com.frameworktestng.testrunner.TestRunnerAmericanas@5b7a5baa]">feature</td> 
  <td>main@275266973</td>   <td></td> </tr>
<tr bgcolor="668a6b">  <td>20/03/18 15:35:30</td>   <td>31442</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunnerAmericanas.tearDownClass()[pri:0, instance:br.com.frameworktestng.testrunner.TestRunnerAmericanas@5b7a5baa]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@275266973</td>   <td></td> </tr>
</table>
